<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="pageBackground">
        <img src="image/Simple-modern-balcony-small-coffee-table-living-room-small-apartment-sofa-side-table-simple-home-bedroom 1.png" alt="">
    </div>
    <header>
        <div>
            <img src="/image/Group 27.png" alt="">
            <h3>Woodies</h3>
        </div>
        <nav>
            <a href="" class="active">Home</a>
            <a href="">About us</a>
            <a href="">How it works</a>
            <a href="">Categories</a>
            <a href="">Testimony</a>
            <button>Sign Up</button>
        </nav>
    </header>
    <section id="sectionHome">
        <p>Are you looking for <strong>woodden furniture </strong> for your place?</p>
        <h1>This is the Right Place</h1>
        <button>Explore Furniture</button>
    </section>
    <section id="sectionAbout">
        <img src="/image/Group 27.png" alt=""><h2>Who we are</h2><hr><h1>About Us</h1>
        <div id="backgroundAbout">
            <img src="/image/Kalmar-Home-7-pc-Acacia-Wood-Salad-Bowl-Set 1.png" alt="">
        </div>
        <div class="aboutText">
            <p><strong>WOODIES</strong> is the <strong>home of modern wooden furniture</strong></p>
            <span>the answer to your need for furniture with shapes, sizes and colors. </span>
        </div>
        <div class="aboutTextTop">
            <p>Customized furniture <strong>made just for you</strong></p>
            <span>Get it easy to adjust furniture to the shape and size of your dwelling or business.</span>
        </div>
    </section>
    <section id="sectionHow"></section>
    <section id="sectionCategories"></section>
    <section id="sectionTestimony"></section>

</body>
</html>