<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="pageBackground">
        <img src="image/Simple-modern-balcony-small-coffee-table-living-room-small-apartment-sofa-side-table-simple-home-bedroom 1.png" alt="">
    </div>
    <header>
        <div>
            <img src="/image/Group 27.png" alt="">
            <h3>Woodies</h3>
        </div>
        <nav>
            <a href="" class="active">Home</a>
            <a href="">About us</a>
            <a href="">How it works</a>
            <a href="">Categories</a>
            <a href="">Testimony</a>
            <button>Sign Up</button>
        </nav>
    </header>
    <section id="sectionHome">
        <p>Are you looking for <strong>woodden furniture </strong> for your place?</p>
        <h1>This is the Right Place</h1>
        <button>Explore Furniture</button>
    </section>
    <section id="sectionAbout"></section>
    <section id="sectionHow"></section>
    <section id="sectionCategories"></section>
    <section id="sectionTestimony"></section>

</body>
</html>