@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    background: #E5E5E5;
    font-family: Nunito;
    margin: 0%;
}

#pageBackground{
    z-index: -1;
    top: 0px;
    right: 0px;
    position: absolute;
    width: 390px;
    height: 800px;
    border: 1px solid transparent;
    border-bottom-left-radius:15% ;
    background-color: #F9BDBD;
}
#pageBackground img{
    width: 600px;
    bottom: 5%;
    right: 0;
    position: absolute;
}
/*Header*/
header div{
    position: absolute;
    left: 4%;
    display: inline-block;
}
header div img{
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 15px;
}
header div h3{
    display: inline-block;
    text-transform: uppercase;
    font-family: Nunito;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
}
header nav{
    top: 7%;
    position: absolute;
    right: 4%;
    display: inline-block;
}
header nav a {
    margin-right: 48px;
    text-decoration: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: rgba(34, 34, 34, 0.75);
}
header nav button {
    border:2px solid #3E3F43;
    padding: 15px;
    border-radius: 15px;
    width: 120px;
    color: #3E3F43;
    text-transform: uppercase;
    font-family: 'Nunito';
    background-color: transparent;
    transition-duration: .3s;
}
header nav button:hover {
    background-color: #3E3F43 ;
    color: white;
    transition-duration: .3s;
}
header nav .active {
    color: #DAA520;
}
/*End Header*/
/* Home */
    #sectionHome{
        position: relative;
        width: 504px;
        left: 7%;
        top: 150px;
    }
    #sectionHome p{
        position: relative;
        color: #313235;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 49px;
    }
    #sectionHome h1{
        position: relative;
        font-style: normal;
        font-weight: bold;
        color: #313235;
        font-size: 72px;
        line-height: 98px;
    }
    #sectionHome button{
        position: absolute;
        width: 175px;
        height: 50px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: white;
        background: #DAA520;
        border: #DAA520;
        border-radius: 4px;
    }
/* End Home */
    #sectionAbout{
        margin-left: 8%;
        position: relative;
        margin-top: 35%;
    }
    #sectionAbout img{
        display: inline-block;
        margin-right: 15px;
    }
    #sectionAbout h2{
        display: inline-block;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: #3E3F43;
    }
    #sectionAbout hr{
        display: inline-block;
        margin-left: 2%;
        margin-right: 2%;
        border: 1px solid black;
        width: 25%;
    }
    #sectionAbout h1{
        text-transform: uppercase;
        display: inline-block;
        font-family: Nunito;
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 98px;
        color: rgba(34, 34, 34, 0.1);
    }
    #backgroundAbout{
        position: relative;
        z-index: -1;
        display: inline;
        width: 278px;
        height: 378px;
        border-top-right-radius: 35%;
        border-bottom-left-radius: 35%;
        background: #F7DEA6;
    }
    #backgroundAbout img{
        position: relative;
        top: 25%;
    }
    #sectionAbout .aboutText{
        display: inline-block;
        position:absolute;
        width: 448px;
        right: 13%;

        font-family: Nunito;
        font-style: normal;
        font-size: 36px;
        line-height: 49px;
        color:#3E3F43;
    }

    #sectionAbout .aboutText span{
        position: relative;
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: black;
    }
    #sectionAbout .aboutTextTop{
        width: 648px;
        top: 150px;
        position: relative;
        font-family: Nunito;
        font-style: normal;
        font-size: 36px;
        color: #000000;
    }
    #sectionAbout .aboutTextTop span{
        font-family: Nunito;
        font-style: normal;
        font-size: 24px;
    }
